 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><p>理念</p>
					我们的理念是做一款有趣耐玩，长线运营，且有社会价值的游戏。从大学到现在接触过太多的手游，以主机或独立游戏为思路，缺乏商业化的运营支撑，多半是昙花一现，但市面上的名利双收的游戏又都过于商业化，缺乏本身的玩法和情怀。以我们正在做的一款游戏为例，阐述
下我们理念，这款游戏名字叫《相信之旅》
        有趣耐玩：这是一款类地城探险游戏，为了保证战斗的有趣，我们为每个章节设计专属的战斗机制，配合固有玩法组合，提供足够多的策略维度。为了保证探索的乐趣，我们设计了大量的随机事件，每个随机事件背后都有专属奖励以及个性故事，让玩家领略不一样的探险。并拟
合成长数值与关卡进度，保证“沉浸体验”到“刷刷刷”，最后到“挂机”的心流体验。
        长线运营：我们会以关卡、英雄、挑战为核心，构建基础循环，并周期性的横向迭代英雄，阶段性的纵向延伸培养，保证长线运营。在此基础上推进故事的发展，构建越来越完整的世界观，陆续补充完善基础的社交功能。构建自己的社群文化，并为社群玩家提供持续稳定的服务
        社会价值：我们希望通过游戏所传达的信息能鼓励到一部分人，整个游戏传达的是关于“相信”的力量，灵感来源于《牧羊少年奇幻之旅》，为你所相信而努力，你所相信的就会成为现实。这就是我们想传达的核心，相信就能发生，游戏故事也会围绕此展开。
        写在最后，团队人员尚处于厦门各大游戏公司中，我是工作室的发起人，也将担任《相信之旅》的策划以及客户端开发工作，我希望能拿到一笔的资金完成《相信之旅》的开发，如果你愿意投资并同意我们的理念，你定将每年获得颇丰的投资回报，如果看到我们的个人网站，
可以联系我，邮件：maygodbewithmeyuan@163.com。</p>
                </div>
                <div class="col-lg-4">
                    <p><p>团队</p> 
					1. 代号Y：客户端出身，主要负责《相信之旅》unity客户端工作，同时负责游戏关卡设计部分工作
     2. 代号X：策划出身，负责《相信之旅》数值以及关卡设计，同时负责服务端部分工作
     3. 小小器皿：策划出身，负责《相信之旅》的剧情、系统以及数值设定，同时负责unity客户端部分工作
     4. 小小可乐：服务端出身，主要负责《相信之旅》服务端工作，兼具cocos creator客户端开发能力
     5. 小小星空：美术出身，负责《相信之旅》的界面、以及原画、场景、特效的把控 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
